body {
  background-color: lightgray;
  margin: 0;
  font-family: Futura;
}

.aboutme {
    top: 5px;
    position: relative;
    text-align: center;
    font-size: 17px;
    padding: 10px;
}

.interests {
    background-color: gray;
    position: relative;
    text-align: center;
    top: 50px;
    font-size: 17px;
    padding: 10px;
}

.interestimages:hover {
  background-color: gray;
  position: relative;
  text-align: center;
  top: 50px;
  padding: 10px;
  color: #000;
}